
<header class="cabecalho">

    <div class="container-grid header-flex">
        <h1>
            <img class="logotipo" src="assets/images/logo.svg" alt="Logotipo" title="E-Players Logotipo">
        </h1>
        <nav id="menu-principal" class="menu-principal">
            <a href="#">Início</a>
            <a href="#">Horários</a>
            <a href="#">Campeonato</a>
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
        </nav>

        <img onclick="mostraEscondeMenu();" class="menu-bars" src="assets/images/bars.svg" alt="Menu de Barras"
            title="Menu de Barras">
    </div>
</header>

<main>



    <!-- CAROUSEL BOOTSTRAP -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="info-test">
            Eduardo
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/banner_pilotos.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/banner_lol.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/banner_cs.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>






    <!-- BANNER HTML e CSS na mão -->
    <!-- <section class="banner">
        <div class="container-grid banner-box">
            <div class="banner-info">
                <h2>Liga E-Players</h2>
                <p>O maior portal de campeonatos online</p>
                <a href="#">Inscreva-se</a>
            </div>
        </div>
    </section> -->



    <section class="jogos">
        <div class="container-grid jogos-images">
            <img src="assets/images/patrocinadores/f1-logo.png" alt="">
            <img src="assets/images/patrocinadores/lol-logo.png" alt="">
            <img src="assets/images/patrocinadores/cs-logo.png" alt="">
            <img src="assets/images/patrocinadores/valorant.png" alt="">
            <img src="assets/images/patrocinadores/fifa.png" alt="">
        </div>
    </section>
    <!-- bootstrap -->
    <section class="produtos">


        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Produtos</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                            <h5 class="card-title">Jogo do ano 1</h5>
                            <p class="card-text">Descrição do jogo do ano</p>
                            <p class="card-title card-price">R$ 45,00</p>
                            <a href="#" class="btn btn-danger btn-buy">Comprar</a>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                            <h5 class="card-title">Jogo do ano 1</h5>
                            <p class="card-text">Descrição do jogo do ano</p>
                            <p class="card-title card-price">R$ 45,00</p>
                            <a href="#" class="btn btn-danger btn-buy">Comprar</a>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                            <h5 class="card-title">Jogo do ano 1</h5>
                            <p class="card-text">Descrição do jogo do ano</p>
                            <p class="card-title card-price">R$ 45,00</p>
                            <a href="#" class="btn btn-danger btn-buy">Comprar</a>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/images/cardnews.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                            <h5 class="card-title">Jogo do ano 1</h5>
                            <p class="card-text">Descrição do jogo do ano</p>
                            <p class="card-title card-price">R$ 45,00</p>
                            <a href="#" class="btn btn-danger btn-buy">Comprar</a>

                        </div>
                    </div>
                </div>


            </div><!-- FIM DA LINHA DE PRODUTOS -->
        </div><!-- FIM DO CONTAINER DE PRODUTOS -->

    </section>

</main>


<app-rodape></app-rodape>